<GridLayout class="page page-content">
    <ScrollView>
        <StackLayout class="form" style="margin: 5;">
            <!--/-->
            <StackLayout class="input-field">
                <Label text="Current Password" class="label font-weight-bold m-b-5"></Label>
                <TextField #password_old="ngModel" [(ngModel)]="passwordForm.password_old" class="input" secure="true" returnKeyType="next" (returnPress)="focusPassword()" required></TextField>
                <StackLayout class="hr-light"></StackLayout>
            </StackLayout>
            <!--/-->
            <StackLayout class="input-field">
                <Label text="New Password" class="label font-weight-bold m-b-5"></Label>
                <TextField #password="ngModel" [(ngModel)]="passwordForm.password" class="input" secure="true" returnKeyType="next" (returnPress)="focusPasswordConfirmation()" required></TextField>
                <StackLayout class="hr-light"></StackLayout>
            </StackLayout>
            <!--/-->
            <StackLayout class="input-field">
                <Label text="New Password Confirmation" class="label font-weight-bold m-b-5"></Label>
                <TextField #password_confirmation="ngModel" [(ngModel)]="passwordForm.password_confirmation" class="input" secure="true" returnKeyType="done" required></TextField>
                <StackLayout class="hr-light"></StackLayout>
            </StackLayout>
            <!--/-->

            <StackLayout visibility="{{ isSubmiting ? 'visible' : 'collapsed' }}">
                <ActivityIndicator #submitActivityIndicator [busy]="isSubmiting" width="24" height="24" class="activity-indicator m-t-10"></ActivityIndicator>
            </StackLayout>
            <StackLayout visibility="{{ !isSubmiting ? 'visible' : 'collapsed' }}">
                <Button text="Submit" (tap)="checkForm()" class="btn btn-primary m-t-10"></Button>
            </StackLayout>


        </StackLayout>
    </ScrollView>
</GridLayout>