<StackLayout class="input-field">
    <TextField class="input" hint="Email" keyboardType="email" autocorrect="false" autocapitalizationType="none" [(ngModel)]="user.email" returnKeyType="next" (returnPress)="focusPassword()"></TextField>
    <StackLayout class="hr-light"></StackLayout>
</StackLayout>

<StackLayout class="input-field">
    <TextField #password class="input" hint="Password" secure="true" [(ngModel)]="user.password" returnKeyType="done"></TextField>
    <StackLayout class="hr-light"></StackLayout>
</StackLayout>

<StackLayout visibility="{{ isSubmiting ? 'visible' : 'collapsed' }}">
    <ActivityIndicator #submitActivityIndicator [busy]="isSubmiting" width="24" height="24" class="activity-indicator m-t-10"></ActivityIndicator>
</StackLayout>
<StackLayout visibility="{{ !isSubmiting ? 'visible' : 'collapsed' }}">
    <Button text="Log In" (tap)="submit()" class="btn btn-primary m-t-20"></Button>
    <Label  text="Forgot your password?" class="login-label" (tap)="forgotPassword()"></Label>
</StackLayout>
