





<ActionBar class="action-bar">
    <!--
    Use the NavigationButton as a side-drawer button in Android because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onSideBarButtonTap()"></NavigationButton>
    <!--
    Use the ActionItem for IOS with position set to left. Using the NavigationButton as a side-drawer button in iOS is not possible, because its function is to always navigate back in the application.
    -->
    <ActionItem visibility="{{ profileEditable === true && actionBarDuoType === true ? 'visible' : 'collapsed' }}" ios.systemicon="1" android:visibility="collapsed" (tap)="onCancel()"
                ios.position="left">
    </ActionItem>
    <ActionItem ios:icon="res://navigation/menu"  visibility="{{ profileEditable === false || actionBarDuoType === false ? 'visible' : 'collapsed' }}" android:visibility="collapsed" (tap)="onSideBarButtonTap()"
                ios.position="left">
    </ActionItem>



    <!--<Label class="action-bar-title" [text]="actionBarDuoType"></Label>-->
    <Label class="action-bar-title" text="Settings"></Label>

    <ActionItem visibility="{{ actionBarDuoType === false ? 'visible' : 'collapsed' }}" ios.systemIcon="3" android.systemIcon="ic_menu_save" ios.position="right" (tap)="onPassSave()"></ActionItem>
    <ActionItem visibility="{{ profileEditable === true && actionBarDuoType === true ? 'visible' : 'collapsed' }}" android:visibility="collapsed" ios.systemIcon="0" ios.position="right" (tap)="onSave()"></ActionItem>
    <ActionItem visibility="{{ profileEditable === false && actionBarDuoType === true ? 'visible' : 'collapsed' }}" ios.systemIcon="2" android.systemIcon="ic_menu_edit" ios.position="right" (tap)="onEdit()"></ActionItem>
    <ActionItem visibility="{{ profileEditable === true && actionBarDuoType === true ? 'visible' : 'collapsed' }}" ios:visibility="collapsed" android.systemIcon="ic_menu_save" (tap)="onSave()"></ActionItem>

</ActionBar>



<RadSideDrawer #drawer showOverNavigation="true" [drawerTransition]="sideDrawerTransition">
    <!--<page-router-outlet></page-router-outlet>-->

    <!--
    Use the tkDrawerContent directive to display the content of the app drawer on this page.
    -->
    <StackLayout tkDrawerContent>
        <SideBar [selectedPage]="'Settings'"></SideBar>
        <!--<SideBar [selectedPage]="'Featured'"></SideBar>-->
    </StackLayout>

    <!--
    Use the tkMainContent directive to display the content of the page when you have an app drawer.
    -->

    <TabView class="page page-content" tkMainContent (selectedIndexChanged)="onSelectedIndexChanged($event)">
        <StackLayout *tabItem="{title: 'Profile'}">
            <Profile (statusChange)="onStatusChange($event)"></Profile>
        </StackLayout>

        <StackLayout *tabItem="{title: 'General'}">
            <General></General>
        </StackLayout>

    </TabView>

    <!--<DockLayout class="page page-content" tkMainContent>-->
        <!--<TabView >-->

            <!--<TabViewItem title="NativeScript"></TabViewItem>-->
            <!--<TabViewItem title="Leaf"></TabViewItem>-->
        <!--</TabView>-->
    <!--</DockLayout>-->

    <!--<GridLayout class="page page-content" tkMainContent>-->

        <!--<TabView id="tabViewContainer">-->
            <!--<TabViewItem title="NativeScript">-->
                <!--<StackLayout>-->
                    <!--<Label text="NativeScript" class="m-15 h2 text-left" color="blue" />-->
                    <!--<ScrollView>-->
                        <!--<StackLayout height="100%">-->
                            <!--<Label text="Kek here" textWrap="true" class="m-15" />-->
                        <!--</StackLayout>-->
                    <!--</ScrollView>-->
                <!--</StackLayout>-->
            <!--</TabViewItem>-->
            <!--<TabViewItem title="Icon">-->
                <!--<StackLayout>-->
                    <!--<Label text="NativeScript" textWrap="true" class="h2 m-x-auto" color="blue" />-->
                <!--</StackLayout>-->
            <!--</TabViewItem>-->
        <!--</TabView>-->


        <!--<Label class="page-icon fa" text="&#xf005;"></Label>-->
        <!--<Label class="page-placeholder" text="&lt;!&ndash; Page Settings content goes here &ndash;&gt;"></Label>-->
        <!--<Label text="lelelelel"></Label>-->
    <!--</GridLayout>-->
</RadSideDrawer>